<div class="header" >
	         <div class="container">
			              <div class="row">
						        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<h1>Welcome</h1>
								<p>This is a place where you can choose your own mess according to the menu preapared on that day. Enjoy!!!</p></br>
								<ul class="list-inline">
								<li><a href="#" class="btn btn-primary btn-md">Comment</a></li>
								<li><a href="#" class="btn btn-primary btn-md">Read Reviews</a></li>
								
								
								</div>
								
								
						  
						  
						  
						  </div>
			 
			 
			 
			 
			 
			 </div>
	
	
	
	
	
	
	</div>
	
	
	
	
	
	
	<!--END HEADER-->
	
	
	<!--ABOUT-->
	<div class="about" id="about">
	
	           <div class="container">
			                    <div class="row">
								
								<div class="col-lg-12 col-md-12">
								
								   <h1> ABOUT US</h1></br>
								   <p>This website will help you to choose your mess according to your choice as well as you will be able to 
								   choose based on other users ratings.You can see the menu of each day of each mess and decide accordingly. 
								   You can also switch your mess on daily,weekly or monthly as well as on a semester basis. 
								   You can also compain about your mess in the complaint section provided in the website.</p></br>
								
								
								
								</div>
								</div>
								
								<div class="row1">
								<div class="col-lg-12 col-md-12">
								<h1> Developer</h1>
								<img src="images/dhruv.jpg"  class="img-circle"align="left"/></br>
								
								
								
								
								</div>
								</div>
								
								
								<div class="row2">
								<div class="col-lg-12 col-md-12">
								
								<p align="left" > Dhruv Agrawal</p>
								
								
								
								
								
								</div>
								</div>
								
								<div class="row3">
								<div class="col-lg-12 col-md-12">
								
								
								<p align="left" > Mnc II year</p>
								
								
								
								
								</div>
								</div>
								<div class="row4">
								<div class="col-lg-12 col-md-12">
								
								
								<p align="left" > 14123006</p>
								
								
								
								
								</div>
								</div>
			   
			   
			   
			   
			   </div>
	
	
	
	
	</div>
	
	
	
	
	
	<!--END ABOUT-->
	
	
	
	<!--MESS RATINGS-->
	<div class="messratings" id="messratings">
	         <div class="container">
			 
			       <div class="row">
				        <div class="col-lg-12 col-md-12">
						<h1> MESS RATINGS</h1></br></br>
						<p> You can be very useful for others for choosing their mess. You can rate each mess based on quality of food, hygiene,service,variety of food.
						Not only you will be useful to others you will make mess maharajas improve their services due to competition among various messes.</p>
						
						</div>
				   
				   
				   
				   
				   
				   </div>
				   
				   <div class="row1">
				        <div class="col-lg-12 col-md-12">
						
						<p> click here to rate the messes</p>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<ul class="list-inline">
						<li><a href="#" class="btn btn-primary btn-md">RATE YOUR MESS</a></li></ul>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						</div>
				   
				   
				   
				   
				   
				   </div>
			 
			 
			 
			 
			 
			 
			 </div>
	
	
	
	
	
	
	</div>
	
	
	
	
	
	

	
	
	<!--MESS RATINGS-->
	
	
	
    <!--COMPLAINT-->
	<div class="complaint" id="complaint">
	         <div class="container">
			 
			       <div class="row">
				        <div class="col-lg-12 col-md-12">
						<h1> COMPLAINT</h1></br></br>
						<p> You can complain about the messes in our compaint section. Your complaints will be directly reported to Dean Of Student Affairs(DOSA).</p>
						
						</div>
				   
				   
				   
				   
				   
				   </div>
				   
				   <div class="row1">
				        <div class="col-lg-12 col-md-12">
						<p> click here to go to complaint section.</p>
						
						<ul class="list-inline">
						<li><a href="#" class="btn btn-primary btn-md">COMPLAIN</a></li></ul>
						</br>
						</br>
						</br>
						</br></br>
						</br>
						</br>
						</br>
						</div>
				   
				   
				   
				   
				   
				   </div>
			 
			 
			 
			 
			 
			 
			 </div>
	
	
	
	
	
	
	</div>
	
	
	
	
	
	
	<!--COMPLAINT-->
	
	<!--REGISTER-->
	<div class="register" id="register">
	         <div class="container">
			 
			       <div class="row">
				        <div class="col-lg-12 col-md-12">
						<h1> REGISTER</h1></br></br>
						<p> You can choose your mess here. First you need to register here so that you can enjoy the services of mess of our institute.</p>
						
						</div>
				   
				   
				   
				   
				   
				   </div>
				   
				   <div class="row1">
				        <div class="col-lg-12 col-md-12">
						<p> REGISTER HERE</p>
						
						<ul class="list-inline">
						<li><a href="register.html" class="btn btn-primary btn-md">REGISTER</a></li></ul>
						</br>
						</br>
						</br>
						</br></br>
						</br>
						</br>
						</br>
						</div>
				   
				   
				   
				   
				   
				   </div>
			 
			 
			 
			 
			 
			 
			 </div>
	
	
	
	
	
	
	</div>
	
	
	
	
	
	
	<!--REGISTER-->
	
	
	
	<!--CONTACT US-->
	<div class="contact" id="contact">
	         <div class="container">
			 
			       <div class="row">
				        <div class="col-lg-12 col-md-12">
						<h1>CONTACT US</h1></br></br></br></br>
						<p> You can give us suggestions to improve our website so that every student of our institute is benefitted. you can mail us at <b>dhruv.agrawal.mat14@itbhu.ac.in</b></p>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						</div>
				   
				   
				   
				   
				   
				   
				   
				   
				   
				   
				   
				   </div>
			 
			 
			 
			 
			 
			 
			 </div>
	
	
	
	
	
	
	</div>
	
	
	
	
	
	
	<!--CONTACT-->